
table{
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even){
    background-color: #f2f2f2;
}
th {
    background-color: #CBCDCB;
    height: 70px;
}
tr:hover {
    background-color:#ddd;
    cursor: pointer;
}
#pagesControllers{
    display: flex !important;
    justify-content: flex-end !important;
}
main{
    padding: 5px;
}
